<div id="<%= dom_id user %>">
    <tr>
      <td><%= user.name.capitalize %></td>
      <td><%= user.email.downcase %></td>
      <td><%= user.phone %></td>
      <td><%= user.cpf %></td>
      <td><%= link_to 'Show details', user, class:"btn btn-sm btn-secondary" %></td>
    </tr>
</div>
